/*
 * Using LESS mixins with arguments
 */
#mypara {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  border: 5px solid blue;
  -webkit-box-shadow: 10px 10px 10px gray;
  -moz-box-shadow: 10px 10px 10px gray;
  -ms-box-shadow: 10px 10px 10px gray;
  box-shadow: 10px 10px 10px gray;
  padding: 10px;
}
